<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Confirmation email sent
      </h1>
      <p class="govuk-panel__body">We've sent confirmation instructions to <strong>your email address.</strong></p>
    </div>

    <p class="govuk-inset-text">
      Once you have confirmed your email address, you can continue to creating an account.
    </p>
</div>
