<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Check your email</h1>
    <p class="govuk-body-l">A confirmation email has been sent to <strong><%= params[:email] %>.</strong></p>
    <p class="govuk-body">
      Click on the link in the email to continue creating your account.
    </p>
  </div>
</div>
