<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Super</h1>
    <p class="govuk-body">
      You have submitted a sign up request. Please check your email inbox to
      validate your e-mail address.
    </p>
    <p class="govuk-body">
      Simply follow the instructions in the email.
    </p>
  </div>
</div>
