<% cba_enabled = organisation.cba_enabled %>

  <p class="govuk-body">
    Show both EAP/TLS and MS-CHAPv2 authentication attempts in the logs. This is for organisations using Certificate Based Authentication (CBA)
  </p>
  <% if cba_enabled %>
    <p class="govuk-body">
      This organisation can see the CBA logs.
    </p>
  <% else %>
    <p class="govuk-body">
      This organisation cannot see the CBA logs.
    </p>
  <% end %>

<div id="cba-form">
  <%= form_with(model: @organisation, url: toggle_cba_feature_super_admin_organisation_path(@organisation), method: :patch) do |form| %>
    <%= form.hidden_field :cba_enabled, value: !@organisation.cba_enabled %>
    <%= form.submit(@organisation.cba_enabled ? "Turn off CBA logs" : "Turn on CBA logs", class: @organisation.cba_enabled ? "govuk-button govuk-button--secondary" : "govuk-button") %>
  <% end %>
</div>
