<table class="govuk-table govuk-!-margin-bottom-7">
  <tbody class="govuk-table__body" id="ips-table">
  <% ips.each do |ip| %>
    <tr class="govuk-table__row" id="ips-row-<%= ip.id %>">
      <td class="govuk-table__cell govuk-!-width-one-third">
        <%= render partial: "ip_address", locals: { ip: ip.address } %>
      </td>
      <% if ip.available? %>
        <td class="govuk-table__cell ">
          <% if ip.unused? %>
            No traffic received yet
          <% elsif ip.inactive? %>
            No traffic in the last 10 days
          <% else %>
            Receiving traffic (<%= link_to "view logs", logs_path(ip: ip.address), class: "govuk-link" %>)
          <% end %>
        </td>
      <% else %>
        <td class="govuk-table__cell text-dark-grey">
          Available at 6am tomorrow
        </td>
      <% end %>
      <td class="govuk-table__cell text-right">
        <% if current_user.can_manage_locations?(current_organisation) %>
          <%= link_to "Remove", ips_path(ip_id: ip.id, confirm_remove: true), class: "govuk-link govuk-link--no-visited-state" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
