<div class="result-row">
  <h2 class="filter-by govuk-heading-m govuk-!-margin-bottom-2">
    <%= location.full_address %>
  </h2>
  <%= render partial: "shared/ip_table", locals: { location: location } %>
</div>
