<h1 class="govuk-heading-l">Give an organisation access to GovWifi</h1>
<h2 class="govuk-heading-s">Allowed organisation names</h2>
<p class="govuk-body">
  To offer GovWifi in its buildings, an organisation’s name needs to
  be on the list of known public sector organisations. If it's not on
  the list, you can add it.
</p>
<h2 class="govuk-heading-s">Allowed email domains</h2>
<p class="govuk-body">
  To request a GovWifi username and password via email, the user’s
  email domain must be on the list of known public sector email
  domains. If it’s not on the list, you can add it.
</p>
<p class="govuk-body">
  Follow these instructions to add an organisation and its users to
  the allow lists.
</p>

<%= link_to "Start",
            new_super_admin_whitelist_path(whitelist: { step: Whitelist::SECOND }),
            class: "govuk-button",
            role: "button",
            draggable: "false",
            "data-module" => "govuk-button" %>
