<% content_for :page_title, "Change permissions - #{yield :page_title}", flush: true %>

<% if @membership.preserve_admin_permissions? %>
  <%= render "memberships/cannot_change_permissions" %>
<% else %>
  <div class="govuk-error-summary" role="alert">
    <h2 class="govuk-error-summary__title">
      Are you sure you want to change permissions for <%= @membership.user.name %>?
    </h2>
    <div class="govuk-error-summary__body">
      <%= button_to "Yes, change permissions", membership_path(@membership, permission_level: params[:membership][:permission_level]), method: :patch, class: "govuk-button" %>
      <%= link_to "Cancel", :back, class: "govuk-link--no-visited-state" %>
    </div>
  </div>
<% end %>
