<div class="govuk-inset-text govuk-!-margin-top-0">
  <p class="govuk-body">
    There must be a minimum of 2 administrators for each organisation.
  </p>
  <%= link_to "Invite a team member", new_user_invitation_path, class: "govuk-link govuk-link--no-underline", id: "error-minimum-two-admins" %>
</div>
