<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body">
      <strong>Service email</strong>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body">
      <%= current_organisation.service_email %>
    </p>
  </div>
  <div class="govuk-grid-column-one-third govuk-list govuk-!-padding-right-4 text-right">
    <%= link_to "Change", edit_organisation_path(current_organisation.id), class: "govuk-link" %>
  </div>
</div>

<hr class='govuk-section-break--l govuk-!-margin-top-0'>
