<% content_for :page_title, "Team members" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Team members</h1>
  </div>

  <div class="govuk-grid-column-one-third text-right">
    <% if current_user.can_manage_team?(current_organisation) %>
      <%= link_to "Invite a team member", new_user_invitation_path, class: "govuk-button", role: "button", draggable: "false", "data-module" => "govuk-button" %>
    <% end %>
  </div>
</div>

<%= render "memberships/table", team_members: @team_members %>
