<% content_for :page_title, "Approve a new email domain" %>
<%= form_with model: @authorised_email_domain, url: { action: :create } do |f| %>
  <%= f.govuk_error_summary %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Allow a new email domain</h1>

      <%= f.govuk_text_field :name, label: { text: "Name" } %>
      <%= f.govuk_submit "Save" %>
    </div>
  </div>
<% end %>
