<nav>
  <ul class="govuk-list">
    <li><%= link_to "Start here", new_super_admin_allowlist_path, class: "govuk-link" %></li>
    <li><%= link_to "Organisations allow list", super_admin_allowlist_organisation_names_path, class: "govuk-link" %></li>
    <li><%= link_to "Email domains allow list", super_admin_allowlist_email_domains_path, class: "govuk-link" %></li>
  </ul>
</nav>
