<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Welcome!</h1>
    <p class="govuk-body">
      We are glad you would like to sign up your organisation for GovWifi.
    </p>
    <p class="govuk-body">
      You have the option to sign up for a three month trial. After you have
      tested GovWifi, you can go live and scale it at your organisation for free!
    </p>

    <div class="govuk-form-group govuk-!-margin-top-7">
      <label class="govuk-label" for="email">
        Provide your email address
      </label>
      <span id="email-hint" class="govuk-hint">
        This will be used to login to the GovWifi Admin Console.
      </span>
      <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint">

      <%= link_to "#", class: "govuk-button govuk-!-margin-top-4" do %>
        Sign Up for Trial
      <% end %>
    </div>
  </div>
</div>
