<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">For Users</h1>
      <p class="govuk-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in
        vestibulum lectus. Suspendisse molestie mollis metus quis maximus.
      </p>
      <button type="submit" class="govuk-button">
        How to Sign Up
      </button>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">For Teams</h1>
      <p class="govuk-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in
        vestibulum lectus. Suspendisse molestie mollis metus quis maximus.
      </p>
      <div class="govuk-grid-row">
        <button type="submit" class="govuk-button">
          Sign up Organisation
        </button>
        <%= link_to "Login", "#", class: "govuk-body" %>
      </div>
    </div>
  </div>
</div>


<hr>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l">What is GovWifi?</h2>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in
      vestibulum lectus. Suspendisse molestie mollis metus quis maximus.
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= image_tag "http://via.placeholder.com/300x200", alt: "Placeholder image" %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l">Benefits</h2>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in
      vestibulum lectus. Suspendisse molestie mollis metus quis maximus.
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= image_tag "http://via.placeholder.com/300x200", alt: "Placeholder image" %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l">How it works</h2>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in
      vestibulum lectus. Suspendisse molestie mollis metus quis maximus.
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= image_tag "http://via.placeholder.com/300x200", alt: "Placeholder image" %>
  </div>
</div>
