<div class="govuk-error-summary">
  <h2 class="govuk-error-summary__title">
    Are you sure you want to delete this unconfirmed user?
  </h2>
  <div class="govuk-error-summary__body">
    <%= button_to "Yes, remove the user", admin_manage_user_path(params[:id]), method: :delete, class: "govuk-button red-button" %>
  </div>
</div>
