<div class="govuk-grid-row">
  <div class="govuk-grid-column">
    <h1 class="govuk-heading-l">Manage Users</h1>

  <table class="govuk-table">
    <h2 class="govuk-heading-m">All Unconfirmed Users</h2>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-one-third"> Name </th>
          <th class="govuk-table__header govuk-!-width-one-third"> Email </th>
          <th class="govuk-table__header govuk-!-width-one-third"> Created at </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @all_unconfirmed_users.each do |user| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-one-third" scope="row">
              <%= user.name %>
            </td>
            <td class="govuk-table__cell govuk-!-width-one-third" scope="row">
              <%= user.email %>
            </td>
            <td class="govuk-table__cell govuk-!-width-one-third" scope="row">
              <%= user.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
