<h1 class="govuk-heading-l">Remove an IP address</h1>

<div class="govuk-error-summary">
  <h2 class="govuk-error-summary__title">
    Are you sure you want to remove this IP from this location:
  </h2>

  <div class="govuk-error-summary__body">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-third">IP Address</td>
          <td class="govuk-table__cell govuk-!-width-one-third"><%= @ip.address %></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-third">From Location</td>
          <td class="govuk-table__cell govuk-!-width-one-third"><%= @ip.location.address %></td>
        </tr>
      </tbody>
    </table>

    <%= button_to 'Yes, remove this IP', ip_path(@ip), method: :delete, class: "govuk-button",style: "background-color: #b10e1e;" %>
  </div>
</div>
