<% content_for :page_title, "Organisation settings - GovWifi" %>

<h2 class="govuk-heading-l">Settings</h2>

<%= render "account" %>

<%= render "organisation" %>

<%= render "servers" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

  </div>
</div>
