<p class="govuk-body">
  If you are an individual user trying to connect to GovWifi, you are in the wrong place. You can view our
  <%= link_to "separate instructions on how to connect to GovWifi", SITE_CONFIG["end_user_docs_link"], class: "govuk-link" %>.
</p>
