<p class="govuk-body">
  If you are an individual user trying to connect to GovWifi, you are in the wrong place. You can view our
  <%= link_to "separate instructions on how to connect to GovWifi", "https://www.gov.uk/government/collections/connect-to-govwifi" %>.
</p>
