<ul class="govuk-list">
  <% if controller_name != 'sessions' %>
    <li>
      <%= link_to "Sign in", new_session_path(resource_name), class: "govuk-link" %>
    </li>
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li>
      <%= link_to "Resend confirmation email", new_confirmation_path(resource_name), class: "govuk-link" %>
    </li>
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  <% end %>
</ul>
