  <h1 class="govuk-heading-l"> Organisation Settings</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group govuk-body-m" >
        <p>Organisation Name</p>
        <p>Service Email</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third govuk-body-m">
      <p><b><%= current_organisation.name%></b></p>
      <p><b><%= current_organisation.service_email%></b></p>
    </div>
    <div class="govuk-grid-column-one-third text-right govuk-body-m">
      <%= link_to "Edit organisation", edit_organisation_path(current_organisation.id), class: "govuk-link" %>
    </div>
  </div>
