<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "admin/whitelists/side_nav" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <% next_step = params.dig(:step) || params.dig(:whitelist, :step) || "first" %>
    <%= render "admin/whitelists/steps/#{next_step}" %>
  </div>
</div>
