<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "admin/whitelists/side_nav" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <% if params[:step] %>
      <%= render "admin/whitelists/steps/#{params[:step]}" %>
    <% else %>
      <%= render "admin/whitelists/steps/first" %>
    <% end %>
  </div>
</div>
