<%= link_to "Back to organisations", admin_organisations_path, class: "govuk-back-link" %>
<h1 class="govuk-heading-l">GovWifi Map of Locations</h1>
<<<<<<< HEAD
<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>

<div class="map"></div>

  <script>
    function initMap() {
      var map = new google.maps.Map(document.querySelector(".map"), {
        zoom: 5,
        center: {lat: 52.3555, lng:  1.1743}
      });

      setMarkers(map);
    }

    var locations = (<%= raw @coordinates.to_json %>);

    function setMarkers(map) {
      for (var i = 0; i < locations.length; i++) {

        var location = locations[i];
        var marker = new google.maps.Marker({
          position: {lat: location[0], lng: location[1]},
          map: map
        });
      }
    }
  </script>
=======

    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: -33.9, lng: 151.2}
        });

        setMarkers(map);
      }

      var locations = [
        [-33.890542, 151.274856],
        [-33.923036, 151.259052],
        [-34.028249, 151.157507],
        [-33.80010128657071, 151.28747820854187],
        [-33.950198, 151.259302]
      ];

<<<<<<< HEAD
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=API_KEY_GOES_HERE&callback=initMap">
</script>
>>>>>>> google static map
=======
      function setMarkers(map) {
        for (var i = 0; i < locations.length; i++) {
          var location = locations[i];
          var marker = new google.maps.Marker({
            position: {lat: location[0], lng: location[1]},
            map: map
          });
        }
      }
    </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz1cPYKamsA_ZJCygL9EY0Zq6stkazTco&callback=initMap">
  </script>
>>>>>>> multiple markers
