<%= link_to "Back to organisations", admin_organisations_path, class: "govuk-back-link" %>
<h1 class="govuk-heading-l">GovWifi Map of Locations</h1>

<div id="map"></div>

<script>
  function initMap() {
  var madetech = {lat: 51.5063, lng: 0.1021};

  var map = new google.maps.Map(document.getElementById('map'), {zoom: 5, center: madetech});
  var marker = new google.maps.Marker({position: madetech, map: map});
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=API_KEY_GOES_HERE&callback=initMap">
</script>
