<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"> Team Members </h1>
  </div>

  <div class="govuk-grid-column-one-third align-right">
    <%= link_to "Invite team member", new_user_invitation_path, class: "govuk-button" %>
  </div>
</div>

<%= render "team_members/table", team_members: @team_members %>

<div class="govuk-details">
  <div class="govuk-details__text">
    <h4 class="govuk-heading-s">
      What if I want to edit or remove a team member?
    </h4>
      <p class="govuk-body"> Contact us via our <%= link_to "support form", help_index_path %> and use this format:</p>
        <ul class="govuk-list">
          <li> Subject: Edit or remove team member </li>
          <li> Text: Name of organisation, user details to amend </li>
        </ul>
  </div>
</div>
