<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"> Team members </h1>
  </div>

  <div class="govuk-grid-column-one-third text-right">
    <%= link_to "Invite team member", new_user_invitation_path, class: "govuk-button" %>
  </div>
</div>

<%#= render "team_members/table", team_members: @team_members %>

<ul class='govuk-list'>
  <li>
    <h3 class='govuk-heading-m govuk-!-margin-bottom-0'>Kyle Chapman</h3>
    <p class='govuk-hint govuk-!-margin-top-0'>kyle@madetech.com</p>

    <ul class='govuk-list'>
      <li>
        <%= image_tag 'tick.svg', height: '20' %>
        <!-- TODO: represent can/can't for screenreaders-->
        <span>View logs</span>
      </li>
      <li>
        <span>View team members</span>
      </li>
      <li>
        <span>Add and remove team members</span>
      </li>
      <li>
        <span>View IPs and locations</span>
      </li>
      <li>
        <span>Add and remove IPs and location</span>
      </li>
    </ul>

    <%= link_to("Edit permissions", team_members_path(1)) %>
    <%#= button_to("Resend invite",
      user_invitation_path({ user: { email: member.email }}),
      method: :post,
      class: "resend-invite-button")
    %>
  </li>
</ul>

<div class="govuk-details">
  <div class="govuk-details__text">
    <h4 class="govuk-heading-s">
      What if I want to edit or remove a team member?
    </h4>
      <p class="govuk-body"> Contact us via our <%= link_to "support form", help_index_path %> and use this format:</p>
        <ul class="govuk-list">
          <li> Subject: Edit or remove team member </li>
          <li> Text: Name of organisation, user details to amend </li>
        </ul>
  </div>
</div>
