<% content_for :page_title, "Change organisation" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Switch organisation</h1>
    <ul class="govuk-list">
      <% current_user.confirmed_organisations.each do | organisation | %>
        <li>
          <%= button_to organisation.name, change_organisation_path(organisation_id: organisation.id),
                        method: :patch, class: "govuk-heading-m button-as-link govuk-!-margin-bottom-4", aria: { label: "Switch to #{organisation.name}" } %>
        </li>
      <% end %>
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
    <%= button_to "Add new organisation", new_organisation_path,
                  method: :get, class: "govuk-button govuk-button--secondary" %>
  </div>
</div>
