<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Switch organisation</h1>

    <ul class="govuk-list">
      <% current_user.organisations.each do | organisation | %>
        <li>
          <%= button_to organisation.name, change_organisation_path(organisation_id: organisation.id),
            method: :patch, class: "govuk-heading-m button-as-link govuk-!-margin-bottom-4" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
