$colour-black: govuk-colour("black");
$colour-blue: govuk-colour("blue");
$colour-light-grey: govuk-colour("grey-1");
$colour-light-blue: govuk-colour("light-blue");
$colour-turquoise: govuk-colour("turquoise");
$colour-white: govuk-colour("white");
