$colour-black: govuk-colour("black");
$colour-blue: govuk-colour("blue");
$colour-light-blue: govuk-colour("light-blue");
$colour-dark-grey: govuk-colour("dark-grey");
$colour-turquoise: govuk-colour("turquoise");
$colour-white: govuk-colour("white");
$colour-green: govuk-colour("green");
