.float-right {
  float: right;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.flash-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-message-notice {
  width: 100%;
  padding: 1em;
  color: #fff;
  background: #28a197;
}

.small-table-button {
  margin-bottom: 0px;
}

.health-check-status {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.health-check-healthy {
  background: green;
}

.health-check-unhealthy {
  background: red;
}
