.text-right {
  text-align: right;
}

.text-left{
  text-align: left;
}

.flex-end {
  align-self: flex-end;
}

.inline-block {
  display: inline-block;
}

.dashboard-colour {
  background:#2b8cc4;
}

.dashboard-font-size {
  font-size: 35px;
}
