.float-right {
  float: right;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.flash-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-message-notice {
  width: 100%;
  padding: 1em;
  color: #fff;
  background: #28a197;
}
