<% if !current_organisation.resign_mou? %>
  <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-padding-9" style="text-align: center" role="success"
    aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title govuk-!-font-size-48" id="govuk-notification-banner-title">
        <%= current_organisation.name %> has accepted the MOU for GovWifi
      </h2>
    </div>
  </div>
<% else %>
  <div class="govuk-notification-banner" role="region"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
      A new version of the MOU was published on <%= current_organisation.formatted_date %>. Please read the new MOU and accept the terms.
      </p>
    </div>
  </div>
<% end %>
