<div class="govuk-notification-banner govuk-notification-banner--success govuk-!-padding-9" style="text-align: center" role="success"
  aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title govuk-!-font-size-48" id="govuk-notification-banner-title">
      <%= current_organisation.name %> has accepted the MOU for GovWifi
    </h2>
  </div>
</div>
