<% content_for :page_title, "Organisation settings" %>

<h1 class="govuk-heading-l">Settings</h1>

<%= render "mou_notification" if current_organisation.mou.present? %>

<%= render "account" %>

<%= render "organisation" %>

<%= render "servers" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

  </div>
</div>
