<% content_for :page_title, "Organisation settings" %>

<% if @mou_signed_notification %>
  <%= render "mou_signed_notification" %>
<% end %>

<h1 class="govuk-heading-l">Settings</h1>

<%= render "account" %>

<%= render "organisation" %>

<%= render "servers" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

  </div>
</div>
