<h1 class="govuk-heading-l">Is the organisation's name on the register?</h1>
<div class="govuk-form-group">
  <%= select_tag "organisations_register", options_for_select(@organisation_names << '', '') %>
</div>
<%= link_to "Yes", new_admin_whitelist_path(step: "fifth", organisation_name: ""), class: "govuk-button" %>
<%= link_to "No", new_admin_whitelist_path(step: "fourth"), class: "govuk-button" %>

<%= render "shared/organisation_register_dropdown" %>
