<% content_for :page_title, "Reset two factor authentication" %>

<%= link_to "Back", :back, class: "govuk-back-link" %>

<div class="govuk-error-summary" role="alert">
  <h2 class="govuk-error-summary__title">
    Are you sure you want to reset two factor authentication for <%= @user.name %>?
  </h2>
  <div class="govuk-error-summary__body">
    <%= button_to "Yes, reset two factor authentication",
                  { controller: "users/two_factor_authentication", action: "destroy" },
                  method: :delete,
                  id: @user,
                  class: "govuk-button red-button" %>
  </div>
</div>
