<% content_for :page_title, "You've reached the maximum amount of sign in attempts" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You've reached the maximum amount of sign in attempts</h1>
    <p class="govuk-body">
      To sign in to GovWifi, contact anyone on your team and ask them
      to reset your two factor authentication. They can do this from
      the ‘Team members’ section of their GovWifi admin account.
    </p>
  </div>
</div>
