<% content_for :page_title, "Enter two-factor authentication code" %>

<div class="govuk-grid-row">
  <div class="govuk-body">
    <%= form_with url: user_two_factor_authentication_path, method: :put do |f| %>
      <h1 class="govuk-heading-l"><%= label nil, :code, "Enter your two factor authentication code" %></h1>
      <p id="code-hint">This is the 6-digit code in your authenticator app.</p>

        <%= f.govuk_text_field :code,
                               maxlength: 6,
                               width: 5,
                               placeholder: "123456",
                               autocomplete: "off",
                               "aria-describedby" => "code-hint",
                               label: nil %>
      <%= f.govuk_submit "Continue" %>
    <% end %>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I cannot use my code
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Ask a team member to reset your two factor authentication. They can do this from the ‘Team members’ section of their GovWifi admin account.</p>
        <p>Once they have done this, you can set up two factor authentication again the next time you sign in.</p>
        <p>Contact <a href="mailto:govwifi-support@digital.cabinet-office.gov.uk" class="govuk-link">govwifi-support@digital.cabinet-office.gov.uk</a> if you’re having problems.</p>
       </div>
    </details>
  </div>
</div>
