<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Two factor authentication</h2>
    <div class="govuk-body">
      Please enter your 6 digit two factor authentication code.
    </div>
    <div class="govuk-body">
      <%= form_tag user_two_factor_authentication_path, method: :put do %>
        <%= hidden_field_tag :otp_secret_key, @otp_secret_key %>
        <div class="govuk-form-group">
          <%= text_field_tag :code, nil,
                             class: "govuk-input mfa-code",
                             maxlength: 6,
                             placeholder: "123456",
                             autocomplete: "off",
                             autofocus: true %>
        </div>
        <input type="submit" class="govuk-button" value="Authenticate" />
      <% end %>
    </div>
  </div>
</div>
