<% content_for :page_title, "Enter two-factor authentication code" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if method == "app" %>
      <%= render partial: "show_app" %>
    <% else %>
      <%= render partial: "show_email" %>
    <% end %>
  </div>
</div>
