<% method = tfa_feature_flag? ? current_user&.second_factor_method : "app" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if method == "app" %>
      <%= render partial: "show_app" %>
    <% else %>
      <%= render partial: "show_email" %>
    <% end %>
  </div>
</div>
