<% content_for :page_title, "Locations" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">GovWifi locations</h1>
    <%= link_to "GovWifi map", map_super_admin_locations_path, class: "govuk-link" %>
    <p>
      <label class="govuk-label" for="filter-input">Search for an address or postcode</label>
      <input type="search" id="filter-input" class="govuk-input" autocomplete="off">
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Address</th>
          <th class="govuk-table__header">Organisation</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body" aria-live="polite">
        <% @locations.each do |location| %>
          <tr class="govuk-table__row result-row">
            <td class="govuk-table__cell filter-by">
              <%= link_to location.full_address, "#{super_admin_organisation_path(location.organisation.id)}##{location.id}", class: "govuk-link" %>

            </td>
            <td class="govuk-table__cell filter-by">
              <%= link_to location.organisation.name, super_admin_organisation_path(location.organisation.id), class: "govuk-link" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div role="status">
      <p class="govuk-body" id="no-results" style="display: none">
        <strong>No results found</strong>
      </p>
    </div>
  </div>
</div>
<%= render "shared/filter_search" %>
