default: &default
  end_user_docs_link: 'https://wifi.service.gov.uk/connect.html'
  end_user_troubleshooting_link: 'https://wifi.service.gov.uk/troubleshooting.html'
  organisation_docs_link: 'https://docs.wifi.service.gov.uk'
  product_page_link: 'https://wifi.service.gov.uk'
  organisation_troubleshooting_link: 'https://docs.wifi.service.gov.uk/troubleshooting.html#troubleshooting'

development:
  google_analytics_script_id: 'UA-127779891-3'
  <<: *default

test:
  <<: *default

staging:
  google_analytics_script_id: 'UA-127779891-2'

  <<: *default

production:
  google_analytics_script_id: 'UA-127779891-1'
  <<: *default
