<div class='subnav'>
  <div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half organisation-name'>
      <strong class="govuk-body"><%= current_organisation.name if current_organisation %></strong>
    </div>
    <nav class='govuk-grid-column-one-half'>
      <%= link_to "Switch organisation", change_organisation_path, class: "govuk-link govuk-body" %>
    </nav>
  </div>
</div>
