<div class='subnav'>
  <div class='govuk-grid-row'>
    <nav class='govuk-grid-column-full'>
      <%= link_to "Switch organisation", change_organisation_path, class: "govuk-link govuk-body" %>
      <%= link_to "View all organisations", super_admin_organisations_path, class: "govuk-link govuk-body" %>
    </nav>
  </div>
</div>
