<nav>
  <ul class="govuk-list">
    <li><%= link_to "Start here", new_super_admin_whitelist_path, class: "govuk-link" %></li>
    <li><%= link_to "Organisations whitelist", super_admin_whitelist_organisation_names_path, class: "govuk-link" %></li>
    <li><%= link_to "Users whitelist", super_admin_whitelist_email_domains_path, class: "govuk-link" %></li>
  </ul>
</nav>
