<% content_for :page_title, "Give an organisation access to GovWifi" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "super_admin/whitelists/side_nav" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <% next_step = params[:step] || params.dig(:whitelist, :step) || "first" %>
    <%= render "super_admin/whitelists/steps/#{next_step}" %>
  </div>
</div>
