<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"><%= region %></th>
      <th class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% health_checks.each do |health_check| %>
      <% status = health_check.fetch(:status) %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half" scope="row">
          <%= health_check.fetch(:ip_address) %>
        </td>
        <td class="govuk-table__cell <%= "health-check-#{status}" %>" scope="row">
          <strong><%= status.capitalize %></strong>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
