<h1 class="govuk-heading-l float-left">
  Health Checks
</h1>

<%= render 'result', region: 'London', health_checks: @health_checks_london %>
<%= render 'result', region: 'Dublin', health_checks: @health_checks_dublin %>
