<% content_for :page_title, "Servers status - GovWifi" %>

<%= link_to "Back", root_path, class: "govuk-back-link" %>

<h1 class="govuk-heading-l float-left">
  GovWifi Status
</h1>

<%= render "result", region: "London", health_checks: @health_checks_london %>
<%= render "result", region: "Dublin", health_checks: @health_checks_dublin %>
