<div class="govuk-error-summary">
   <h2 class="govuk-error-summary__title">
     Are you sure you want to remove this organisation?
   </h2>
    <div class="govuk-error-summary__body">
     <%= button_to 'Yes, remove this organisation', admin_custom_organisation_path(params[:id]), method: :delete, class: "govuk-button red-button" %>
   </div>
 </div>
