<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Add Organistions to the Register</h2>

    <%= form_for(:custom_organisations, url: admin_custom_organisations_path, html: { novalidate: '' }) do |f| %>
      <div class="govuk-form-group">
        <%= f.label :name, "Enter the custom organisation you want to add", class: "govuk-label"  %>
        <%= f.text_field :name, autofocus: true, class: "govuk-input" %>
      </div>

      <div class="actions">
        <%= f.submit "Confirm", class: "govuk-button" %>
      </div>
      <% end %>

  </div>
</div>
