<% if organisation.locations.any? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    </thead>
    <tbody class="govuk-table__body">
      <% organisation.locations.each do |location| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><%= location.address %></td>
          <td class="govuk-table__cell text-right" scope="row"><%= location.postcode %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">This organisation has no locations.</p>
<% end %>
