<% content_for :page_title, "Remove Certificate", flush: true %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
    <h1 class="govuk-heading-l">Certificate - <%= @certificate.name %></h1>
  </div>
</div>
<div class="govuk-error-summary" role="alert">
  <h2 class="govuk-error-summary__title">Remove this Certificate?</h2>
  <div class="govuk-error-summary__body">
    <%= button_to "Remove", certificate_path(@certificate), method: :delete, class: "govuk-button red-button" %>
    <%= link_to "Cancel", certificates_path, class: "govuk-link--no-visited-state govuk-body" %>
  </div>
</div>
<%= render "show_certificate" %>

