<% content_for :page_title, "Certificate" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
    <h1 class="govuk-heading-l">Certificate - <%= @certificate.name %></h1>
  </div>
</div>
<%= render "show_certificate" %>
