.total-org-stat-results-title {
  font-size: 63px;
  padding-right: 54px;
}

.admin-panel-stats-container {
  padding-left: 30px;
  padding-right: 25px;
}

.stats-align-center {
  text-align: center;
}
