.red-button {
  background-color: $govuk-error-colour;

  &:hover {
    background-color: darken($govuk-error-colour, 10%);
  }
}

.red-link {
  color: $govuk-error-colour !important;

  &:hover {
    color: lighten($govuk-error-colour, 10%) !important;
  }

  &:focus,
  &:active {
    @include govuk-focused-text;
    color: $govuk-focus-text-colour !important;
  }
}

.button-as-link {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: $govuk-link-colour;
  background-color: transparent;

  &:hover {
    color: $govuk-link-hover-colour;
  }
}

.mfa-code {
  box-sizing: content-box;
  width: 6ch;
}

.govuk-table__cell {
  .govuk-button {
    margin: 0;
  }
}
