.red-button {
  background-color: $govuk-error-colour;

  &:hover {
    background-color: darken($govuk-error-colour, 10%);
  }
}

.red-link {
  color: $govuk-error-colour !important;

  &:hover {
    color: lighten($govuk-error-colour, 10%) !important;
  }
}
