.flash-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-message-notice {
  width: 100%;
  padding: 1em;
  color: $colour-white;
  background: $colour-turquoise;
}
