.leftnav {
  margin-top: govuk-spacing(3);

  a {
    display: block;
    text-decoration: none;
    padding-top: govuk-spacing(1);

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: bold;
    text-decoration: none;
  }
}
