.leftnav {
  margin-top: govuk-spacing(3);

  a {
    display: block;
    text-decoration: none;
    padding-top: govuk-spacing(1);

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: bold;
    text-decoration: none;
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
  }
}
