.summary-background {
  background: $colour-blue;
}

.summary-link-colour:link {
  color: $colour-white;
}

.summary-link-colour:visited {
  color: $colour-white;
}

.summary-link-colour:hover {
  color: $colour-white;
}

.summary-link-colour:focus {
  color: $colour-black;
}
