.summary-background {
  background: govuk-colour("blue")
}

.summary-link-colour:link {
  color: govuk-colour("white")
}

.summary-link-colour:visited {
  color: govuk-colour("white")
}

.summary-link-colour:hover {
  color: govuk-colour("white")
}

.overview-section-alignment {
  padding-left: 0px;
  padding-right: 0px;
}

.activity-section-alignment {
  margin-left: -15px;
}

.overview-stats-panel {
  padding-left: 20px;
  padding-top: 28px;
  height: 140px;
}

.overview-stats-panel:hover {
  background-color: govuk-colour("light-blue")
}
