.summary-background {
  background: $colour-blue;
}

.summary-link-colour:link {
  color: $colour-white;
}

.summary-link-colour:visited {
  color: $colour-white;
}

.summary-link-colour:hover {
  color: $colour-white;
}

.overview-section-alignment {
  padding-left: 0;
  padding-right: 0;
}

.overview-stats-panel {
  padding-left: 20px;
  padding-top: 28px;
  height: 140px;
}

.overview-stats-panel:hover {
  background-color: $colour-light-blue;
}
