.summary-background {
  background: govuk-colour("light-blue");
}

.summary-link-colour:link {
  color: govuk-colour("white")
}

.summary-link-colour:visited {
  color: govuk-colour("white")
}

.summary-link-colour:hover {
  color: govuk-colour("white")
}

.summary-link-colour:active {
  color: govuk-colour("white")
}
