.summary-background {
  background: govuk-colour("light-blue");
}

.summary-link-colour:link {
  color: govuk-colour("white")
}

.summary-link-colour:visited {
  color: govuk-colour("white")
}

.summary-link-colour:hover {
  color: govuk-colour("white")
}

.overview-section-allignment{
  padding-left: 0px;
  padding-right: 0px;
}

.activity-section-allignment{
  margin-left: -15px;
}
