.subnav {

  .organisation-name {
    // Organisation name centred on mobile
    text-align: center;
    margin: 14px 0 11px 0;
    font-weight: bold;

    .govuk-body {
      font-weight: bold;
    }

    // Organisation name aligned left on desktop and top margin reduced.
    @media (min-width: 640px) {
      text-align: left;
    }
  }

  nav {

    text-align: right;

    a {

      @include govuk-link-common;
      @include govuk-link-style-no-visited-state;
      @include govuk-responsive-padding(3, "top", $adjustment: -1px);
      @include govuk-responsive-padding(2, "bottom", $adjustment: 1px);
      display: inline-block;
      text-decoration: none;
      margin: 0;

      &:hover {
        text-decoration: underline;
      }

    }
  }
}
