.subnav {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px solid black;

  .organisation-name {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  nav {
    text-align: right;

    a {
      margin-left: 15px;
      padding-top: 10px;
      padding-bottom: 5px;
      display: inline-block;
      text-decoration: none;
      border-bottom: 5px solid white;
      font-size: 16px;
    }

    .active {
      border-bottom: 5px solid black;
    }
  }
}

.text-decoration-none {
  text-decoration: none;
}
