.resend-invite-button {
  font: inherit;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: $govuk-link-colour;
  background-color: transparent;

  &:hover {
    color: $govuk-link-hover-colour;
  }
}

.list-item-padding {
  margin-bottom: -5px;
}
