.list-item-padding {
  margin-bottom: -5px;
}

.govuk-link {
  display: block;
}

.govuk-table__row {
  border-bottom: 1px solid $govuk-border-colour;
}

.govuk-table__cell:last-child {
  padding-right: 20px;
}
