$govuk-image-url-function: "image-url";
$govuk-font-url-function: "font-url";

@import "../../../node_modules/govuk-frontend/all-ie8";
@import "./components/buttons_and_links";
@import "./components/fake_radio";
@import "./components/flash_messages";
@import "./components/health_checks";
@import "./components/label_inside_input";
@import "./utilities/layout";
@import "./components/main_nav";
@import "./components/sub_nav";
@import "./components/team_members";
@import "./utilities/typography";

.govuk-main-wrapper {
  margin-top: -25px;
}

.govuk-phase-banner {
  margin-bottom: 25px;
}
