$govuk-image-url-function: "image-url";
$govuk-font-url-function: "font-url";

@import "../../../node_modules/govuk-frontend/all";
@import "./components/flash_messages";
@import "./components/health_checks";
@import "./components/ips";
@import "./components/main_nav";
@import "./components/sub_nav";
@import "./components/team_members";


.govuk-main-wrapper{
  margin-top: -25px;
}

.govuk-phase-banner{
  margin-bottom: 25px;
}

.sign_mou_text{
  margin: auto;
  font-weight: bold;
  color: red;
}
