$govuk-image-url-function: "image-url";
$govuk-font-url-function: "font-url";

@import "../../../node_modules/govuk-frontend/all";
@import "./components/flash_messages";
@import "./components/health_checks";
@import "./components/ips";
@import "./components/red_button";
@import "./components/main_nav";
@import "./components/sub_nav";
@import "./components/team_members";
@import "./utilities/layout";
@import "./utilities/typography";

.govuk-main-wrapper {
  margin-top: -25px;
}

.govuk-phase-banner {
  margin-bottom: 25px;
}
