$govuk-image-url-function: "image-url";
$govuk-font-url-function: "font-url";

@import "../../../node_modules/govuk-frontend/govuk/all";

.govuk-header__content,
.govuk-header__logo {
  @include govuk-media-query($from: desktop) {
    width: 50%;
  }
}

// remove the default 5px vertical padding on the nav as it
// pushes it down in an uncentered fashion
.govuk-header__navigation--end {
  padding: 0;
}

// let the beta phase banner breathe and align it
.govuk-phase-banner__content__tag {
  margin-left: 5px;
  vertical-align: top;
}

// set correct font for the autocomplete
.autocomplete__wrapper {
  @extend %govuk-body-m;
}

@import "./utilities/colours";
@import "./components/*";
@import "./utilities/*";

// TODO: This shouldn't be needed, but fixes the display for actions
// within a summary list, like on the team members page
@include govuk-media-query($from: tablet) {
  .govuk-summary-list__actions-list {
    .govuk-summary-list__actions-list-item {
      display: block;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}
