<table class="govuk-table govuk-!-margin-bottom-8">
  <tbody class="govuk-table__body" id="domains-table">
    <% domains.each do |domain| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-third"><%= domain.name %></td>
        <td class="govuk-table__cell text-right">
          <%= link_to 'Remove', admin_authorised_email_domains_path(id: domain.id, remove_email_domain: true), class: "govuk-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
