<div class="govuk-grid-column-two-thirds">
  <div class="govuk-inset-text govuk-!-margin-top-0">

    <% if !super_admin? %>
      <p class="govuk-body">
        Only logs from your organisation's IP addresses are shown.
      </p>
    <% end %>

    <p class="govuk-body">
      These results include authentication requests for the past 2 weeks.
    </p>

    <% if logs.count >= Gateways::Sessions::MAXIMUM_RESULTS_COUNT %>
      <p class="govuk-body">
        Only the 500 most recent logs are shown.
      </p>
    <% end %>

    <% if logs.present? && !super_admin? %>
      <p class="govuk-body">
        If you need more logs, <%= link_to "contact us", signed_in_new_help_path, class: "govuk-link" %>.
      </p>
    <% end %>
  </div>
</div>
