<div class="govuk-grid-column-two-thirds">
  <% if super_admin? %>
    <p class="govuk-body">
      If you were expecting to see results, ask the organisation if:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the IP addresses they entered into the GovWifi admin site match their access point IP addresses exactly?</li>
      <li>their access points have the correct RADIUS secret keys?</li>
      <li>they have searched our <%= link_to "technical documentation?", SITE_CONFIG["organisation_docs_link"], class: "govuk-link" %></li>
    </ul>

  <% else %>
    <p class="govuk-body">
      If you were expecting to see results:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check your <%= link_to "configured IP addresses", ips_path, class: "govuk-link" %> match your authenticator IP addresses </li>
      <li>check your authenticators have the correct RADIUS secret keys</li>
      <li>see our <%= link_to "technical documentation", SITE_CONFIG["organisation_docs_link"], class: "govuk-link" %></li>
    </ul>

    <p class="govuk-body"> If you still need help, <%= link_to "contact us", signed_in_new_help_path, class: "govuk-link" %></p>
  <% end %>
</div>
