<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Show connection details
    </span>
  </summary>
  <div class="govuk-details__text">
    <p> Your RADIUS secret is <strong> <%= current_organisation.locations.first.radius_secret_key %> </strong></p>

    <p> We recommend connecting to one RADIUS server from each region: </p>

    <h3> London: </h3>
    <% london_ips.each do |ip| %>
      <p class="govuk-body"> <%= ip %>
    <% end %>

    <h3> Dublin: </h3>
    <% dublin_ips.each do |ip| %>
      <p class="govuk-body"> <%= ip %>
    <% end %>
  </div>
</details>
