<div class="subnav govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-3">
  <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
    <p class="govuk-body govuk-!-margin-bottom-0">
      <strong><%= current_organisation.name %></strong>
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
    <nav class="govuk-body">
      <%= link_to "Overview", root_path, class: "govuk-link text-decoration-none" %>
      <%= link_to "Team Members", team_members_path, class: "govuk-link text-decoration-none govuk-!-margin-left-3" %>
      <%= link_to "Settings", ips_path, class: "govuk-link text-decoration-none govuk-!-margin-left-3" %>
    </nav>
  </div>
</div>
