<% if params[:code] == "404" %>
  <h1 class="govuk-heading-xl">Page not found</h1>
  <p class="govuk-body">If you entered a web address please check it was correct.</p>
  <p class="govuk-body">You can browse from the <%= link_to "homepage", root_path, class: "govuk-link" %> to find the information you need.</p>
<% else %>
  <h1 class="govuk-heading-xl">Sorry an error occurred</h1>
  <p class="govuk-body">Something went wrong while processing the request.</p>
<% end %>
