<%= render "confirm_remove_email_domain" if params[:domain_to_remove] %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "super_admin/whitelists/side_nav" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Whitelisted Signup Domains</h1>
      </div>

      <div class="govuk-grid-column-one-third text-right">
        <%= link_to "Whitelist a domain", new_super_admin_whitelist_email_domain_path, class: "govuk-button" %>
      </div>
    </div>

     <%= render "super_admin/whitelists/email_domains/table", domains: @authorised_email_domains %>
  </div>
</div>
