<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Created At</th>
      <th class="govuk-table__header">Updated At</th>
      <th class="govuk-table__header">Service Email</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
  <% @all_organisations.each do | organisation| %>
        <td class="govuk-table__cell half-column" scope="row"><%=  organisation.name %></td>
        <% end %>
      </tr>
      </tr>
  </tbody>
</table>
