<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Created At</th>
      <th class="govuk-table__header">Updated At</th>
      <th class="govuk-table__header">Service Email</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell one-quarter" scope="row">Parks & Recreation Dept</td>
        <td class="govuk-table__cell one-quarter" scope="row">12/12/2019</td>
        <td class="govuk-table__cell one-quarter" scope="row">12/11/2020</td>
        <td class="govuk-table__cell one-quarter" scope="row">Parks@hotmail.com</td>
      </tr>
  </tbody>
</table>
