<% flash.each do |name, msg| -%>
  <% next if name == "timedout" %>
  <% next if msg.empty? %>

  <% if name == 'notice' %>
    <div class='flash-holder'>
      <%= tag.p(msg, class: "govuk-heading-m flash-message-notice") %>
    </div>
  <% end %>
  <% if name == 'alert' %>
    <div class="govuk-error-summary" role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <%= msg %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
