<% flash.each do |name, msg| -%>
  <div class='flash-holder'>
      <% if name == 'notice' %>
      <%= content_tag :p, msg, class: "govuk-heading-m flash-message-notice" %>
    <% end %>
  </div>
<% end %>
