<% if defined? resource %>
  <% if resource&.errors&.any? %>
    <div class="govuk-error-summary" id="error-summary">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <% resource.errors.full_messages.each do |message| %>
            <li id="error-message"><%= message.html_safe %></li>
          <% end %>

          <% if resource.errors.details[:password] %>
            <% resource.errors.details[:password].each do |err| %>
              <li class="error-feedback"><%= err[:feedback] %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
