<% if defined?(resource) && resource&.errors&.any? %>
  <% content_for :page_title, "Error: #{yield :page_title}", flush: true %>

  <div class="govuk-error-summary" role="alert" id="error-summary" tabindex="-1" autofocus>
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <%= form_for resource, url: "" do |f| %>
          <% resource.errors.each do |error| %>
            <li><%= f.label(error.attribute.to_sym, raw(error.full_message))
                  .gsub(/label/, "a")
                  .gsub(/for="/, "href=\"#")
                  .html_safe %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
