<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with choosing a strong password
    </span>
  </summary>
  <div class="govuk-details__text">
    Use 3 random words next to each other with a number and special character at the end, for example: ThreeRandomWords3!
  </div>
</details> 