<div class="govuk-grid-column-two-thirds">
  <div class="govuk-inset-text">
    <h4 class="govuk-heading-s">24 Hours to Activate</h4>
    <p class="govuk-body">
      You can configure your access points immedately but it will take 24 hours
      for your new IP to be activated.
    </p>
  </div>
</div>
