<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">New IP addresses are not immediately available</h4>
  <p class="govuk-body">
    You can configure your authenticator(s) now, but new IP addresses will not be activated until the next day.
  </p>
</div>
