<div class="govuk-error-summary">
  <h2 class="govuk-error-summary__title">
    Are you sure you want to rotate this RADIUS secret key?
  </h2>
  <div class="govuk-error-summary__body">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-third">
          This rotation will take effect tomorrow morning and cannot be reverted once confirmed.
        </tr>
      </tbody>
    </table>

    <%= button_to 'Yes, rotate this RADIUS key', location_path(@key_to_rotate),
      method: :patch, class: "govuk-button red-button" %>
  </div>
</div>
