<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body">
    <%= link_to "How do I configure my access point?", "#", class: "govuk-link" %>
  </p>
  <p class="govuk-body">
    <%= link_to "How do I see if my IP is activated?", "#", class: "govuk-link" %>
  </p>
</div>
