<table class="govuk-table govuk-!-margin-top-7">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">IP Address</th>
      <th class="govuk-table__header" scope="col">Date Added</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% ips.each do |ip| %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row"><%= ip.address %></th>
        <td class="govuk-table__cell "><%= ip.created_at.strftime("%d %b %Y, %l:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
