<table class="govuk-table">
  <caption class="govuk-table__caption">
    <%= location.full_address %>
  </caption>
  <tbody class="govuk-table__body" id="ips-table">
    <% location.ips.each do |ip| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-third"><%= ip.address %></td>
        <% if ip.available? %>
          <td class="govuk-table__cell govuk-!-width-one-third">Available</td>
        <% else %>
          <td class="govuk-table__cell govuk-!-width-one-third unavailable-ip">Not available until 6am tomorrow
          </td>
        <% end %>
        <td class="govuk-table__cell govuk-!-width-one-third text-right"><%= link_to 'View logs', logs_path(ip: ip.address) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
