<h2 class="govuk-heading-l">IP Addresses</h2>
<% if @ips.empty? %>
  <p class="govuk-body">
    You need to add the IPs of your authenticator(s).
  </p>
  <p class="govuk-body">If your authenticators are allocated IPs dynamically, you can use Firewall NAT rules, so that your requests come from consistent IPs.</p>

  <%= link_to "Add IP Address", new_ip_path, class: "govuk-button" %>
<% else %>
  <%= render "ips/table", ips: @ips %>
  <%= link_to "Add IP Address", new_ip_path, class: "govuk-button" %>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What if I want to remove an IP?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p> Contact us via our <%= link_to "support form", help_index_path %> and use this format: </p>
      <ul class="govuk-list">
        <li> Subject: Remove IP </li>
        <li> Text: Name of organisation, IPs you want to remove </li>
      </ul>
    </div>
  </details>
<% end %>
