<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">IP addresses</h1>
</div>
  <div class="govuk-grid-column-one-third">
    <%= link_to "Add IP address", new_ip_path, class: "govuk-button" %>
  </div>
</div>

<% if current_organisation.ips.count == 0 %>
  <p class="govuk-body">
    You need to add the IPs of your authenticator(s).
  </p>
  <p class="govuk-body">If your authenticators are allocated IPs dynamically, you can use Firewall NAT rules, so that your requests come from consistent IPs.</p>

<% else %>
  <% @locations.each do |location| %>
    <%= render "ips/table", location: location %>
  <% end %>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What if I want to remove an IP?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p> Contact us via our <%= link_to "support form", help_index_path %> and use this format: </p>
      <ul class="govuk-list">
        <li> Subject: Remove IP </li>
        <li> Text: Name of organisation, IPs you want to remove </li>
      </ul>
    </div>
  </details>
<% end %>
