<div class="govuk-grid-row">
  <%= render "confirm_remove_ip" if @ip_to_delete && current_user.can_manage_locations? %>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">IP addresses</h1>
  </div>
  <div class="govuk-grid-column-one-third text-right">
    <% if current_user.can_manage_locations? %>
      <%= link_to 'Add IP address', new_ip_path, class: 'govuk-button' %>
    <% end %>
  </div>
</div>

<% if current_organisation.ips.count == 0 %>
  <p class="govuk-body">
    You need to add the IPs of your authenticator(s).
  </p>
  <p class="govuk-body">If your authenticators are allocated IPs dynamically, you can use Firewall NAT rules, so that your requests come from consistent IPs.</p>

<% else %>
  <% @locations.each do |location| %>
    <%= render "ips/table", location: location %>
  <% end %>
<% end %>
