<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Locations</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= link_to "Add IP", new_ip_path, class: "govuk-button",  style: "float:right;" %>
      </div>
    </div>

    <% if @ips.empty? %>
      <p class="govuk-body">
        You have not added any of your IPs, <%= link_to "add one now", new_ip_path, class: "govuk-link" %>
      </p>
    <% else %>
      <p class="govuk-body">
        <strong>Your Secret Key:</strong>
        <span class="float-right"><%= current_user.radius_secret_key %></span>
      </p>

      <%= render "ips/table", ips: @ips %>
    <% end %>

    <h3 class="govuk-heading-m"> Connecting to us </h3>
    <p class="govuk-body"> You'll need to configure your access point to contact our RADIUS servers, to authenticate your users. </p>

    <p class="govuk-body"> We recommend connecting to one IP from each region. </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Show London IP Addresses
        </span>
      </summary>
      <div class="govuk-details__text">
        1, 2, 3
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Show Dublin IP Addresses
        </span>
      </summary>
      <div class="govuk-details__text">
        1, 2, 3
      </div>
    </details>
  </div>
</div>
