<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Locations</h2>

    <%= link_to "Add IP", new_ip_path, class: "govuk-button" %>

    <%= if @ips.empty? %>
      <p class="govuk-body">Currently there are no IPs added</p>
    <% else %>
      <h3 class="govuk-heading-m"></h3>

      <table class="govuk-table">
        <caption class="govuk-table__caption">List of added IPs:</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">IP Address</th>
            <th class="govuk-table__header" scope="col">Date Added</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @ip.each do |ip| %>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row"><%= ip.address %></th>
              <td class="govuk-table__cell "><%= ip.created_at.strftime("%d %b %Y, %l:%M %p") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
