<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Locations</h2>

    <p class="govuk-body">Currently there are no IPs added</p>

    <%= link_to "Add IP", new_ip_path, class: "govuk-button" %>
  </div>
</div>
