<div class="govuk-grid-row">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      IP Added
    </h1>
    <div class="govuk-panel__body">
      Your Secret Key
      <br><strong><%= current_user.radius_secret_key %></strong>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7">
    <h3 class="govuk-heading-m">24 Hours to Activate</h3>
    <p class="govuk-body">
      It will take 24 hours for your new IP to be activated. You will then be
      able to use the secret key above to configure your access points.
    </p>
  </div>
</div>
